@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//fonts.googleapis.com/css?family=Abril+Fatface');


body {font-family: 'Open Sans', sans-serif !important;}
#quantity_wanted {font-family: 'Open Sans', sans-serif !important;}
.product-name {font-family: 'Open Sans', sans-serif !important;}
button.detail {font-family: 'Open Sans', sans-serif !important;}
#button_order_cart {font-family: 'Open Sans', sans-serif !important;}


h1, h2, h3, h4, h5 {font-family: 'Abril Fatface', sans-serif !important;}
.cart_button {font-family: 'Abril Fatface', sans-serif !important;}
.moreinfo_block ul.nav-tabs li a {font-family: 'Abril Fatface', sans-serif !important;}
.exclusive {font-family: 'Abril Fatface', sans-serif !important;}
.title_block {font-family: 'Abril Fatface', sans-serif !important;}
.page-title-slider {font-family: 'Abril Fatface', sans-serif !important;}
.newsletter_home button {font-family: 'Abril Fatface', sans-serif !important;}
.shopnow {font-family: 'Abril Fatface', sans-serif !important;}
.sf-menu > li > a {font-family: 'Abril Fatface', sans-serif !important;}
.sp-cat-title-parent {font-family: 'Abril Fatface', sans-serif !important;}