a:hover, a:focus {
  color: #fbc02d; }

.button:hover, .btn-default:hover, input[type="submit"]:hover {
  background-color: #fbc02d;
  color: white; }

.button:focus, .btn-default:focus, input[type="submit"]:hover {
  background-color: #fbc02d;
  color: white; }

h3.mod-title .fa {
  background: #fbc02d; }

a.btn-default, .button, input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
  background: #fbc02d !important; }
  a.btn-default:hover, .button:hover, input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover, input.button_mini_disabled:hover, input.button_small_disabled:hover, input.button_disabled:hover, input.button_large_disabled:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, input.exclusive_mini_disabled:hover, input.exclusive_small_disabled:hover, input.exclusive_disabled:hover, input.exclusive_large_disabled:hover, a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover, span.button_mini:hover, span.button_small:hover, span.button:hover, span.button_large:hover, span.exclusive_mini:hover, span.exclusive_small:hover, span.exclusive:hover, span.exclusive_large:hover {
    background: #f0ad05 !important; }

.sf-menu li li li a:before {
  color: #fbc02d; }

.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover,
.sf-menu > li.sfHoverForce > a {
  background: #fbc02d; }

.sf-menu .submenu-container {
  border-color: transparent #fbc02d #fbc02d #fbc02d; }

.sf-menu li li li ul {
  border-color: #fbc02d; }

.sf-menu li li li a:hover,
.sf-menu > li > ul > li > a:hover {
  color: #fbc02d; }

.shopping_cart > a:first-child {
  background: #fbc02d; }

#currencies-block-top div.current:hover, #currencies-block-top div.current.active,
#languages-block-top div.current:hover, #languages-block-top div.current.active {
  background: #fbc02d !important;
  color: white;
  border-color: #fbc02d !important; }

.cart_block .cart-buttons a {
  background: #fbc02d; }

#languages-block-top ul, #currencies-block-top ul {
  border-color: #fbc02d; }

.newsletter_home .button {
  background: #fbc02d; }

.sp-twitter-slider .ts-slider-wrap .ts-control .ts-ctr:hover {
  background-color: #fbc02d; }

.sp-twitter-slider a:hover {
  color: #fbc02d !important; }

.tags_block .block_content a:hover {
  background: #fbc02d;
  border-color: #fbc02d; }

#categories_block_left ul.tree li:hover > a,
#categories_block_left ul.tree li:hover > .grower {
  color: #fbc02d; }

.footer-container a:hover {
  color: #fbc02d; }

.content_sortPagiBar .display li.selected a,
.content_sortPagiBar .display_m li.selected a {
  color: #fbc02d;
  border-color: #fbc02d; }

.content_sortPagiBar .display li a:hover {
  border-color: #fbc02d; }

ul.product_list .product-container:hover h5 > a {
  color: #fbc02d; }

div.moreinfo_block ul.nav-tabs > li:before {
  background: #fbc02d; }

#thumbs_list li a:after {
  background: #fbc02d; }

span.view_scroll_spacer > a:hover {
  background: #fbc02d; }

#order_step li.step_current {
  background: #fbc02d; }

#order_step li a:hover {
  background: #fbc02d; }

.payment_module a:hover, .payment_module a:focus,
.payment_module a:active {
  border: 1px solid #fbc02d; }

#crossselling_list .bx-wrapper, .accessories-block .block_content .bx-wrapper, #productscategory_list .bx-wrapper {
  max-width: 100% !important; }

#product_comparison .ajax_block_product h5 a:hover {
  color: #fbc02d; }

#layer_cart .cross:hover {
  color: #fbc02d; }

#availability_statut #availability_value, ul.product_list .availability .available-now {
  background: url(../../../../img/yellow/instock.png) no-repeat 0 0; }

#smartblogcat .sdsarticleCat:hover h2.sdstitle_block a {
  color: #fbc02d; }

#submitComment:hover, #submitComment:focus {
  background: #fbc02d;
  border-color: #fbc02d; }

#subcategories .subcategories-box:hover {
  border-color: #fbc02d; }
  #subcategories .subcategories-box:hover .subcategory-name {
    color: #fbc02d; }

#smartblogcat .sdsarticleCat .blog-info .comment a:hover {
  color: #fbc02d; }

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a.page-active, .pagination > li > span.page-active,
.pagination > li > a:focus, .pagination > li > span:focus {
  color: #fff;
  border-color: #fbc02d;
  background: #fbc02d; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:hover, #homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev:hover {
  background-color: #fbc02d; }

.backtotop:hover {
  background-color: #fbc02d; }

.top-pagination-content ul.pagination li > a:hover span, .bottom-pagination-content ul.pagination li > a:hover span {
  background: #fbc02d; }

.pagination > li > a:hover b, .pagination > li > a:hover .fa, .pagination > li > span:hover b, .pagination > li > span:hover .fa, .pagination > li > a:focus b, .pagination > li > a:focus .fa, .pagination > li > span:focus b, .pagination > li > span:focus .fa {
  color: #fbc02d; }

.top-pagination-content ul.pagination li.active > span span, .bottom-pagination-content ul.pagination li.active > span span {
  background: #fbc02d;
  color: #fff; }

div.sp-newproducts .slider .vpo-wrap .vp .item .item-wrap .item-img .quick-view-wrapper-mobile {
  background: #fbc02d; }

ul.product_list .product-image-container .quick-view-wrapper-mobile {
  background: #fbc02d; }

#header .cart_block {
  border: solid 1px #fbc02d; }

#header .cart_block a:hover, #header .cart_block .product-atributes a:hover {
  color: #fbc02d; }

.cart_block .cart-images:hover {
  border-color: #fbc02d; }

#productscategory_list ul.bxslider li.product-box:hover .product-name a {
  color: #fbc02d; }

.products-block li .products-block-image .number {
  background: #fbc02d; }

/*---------------------------------------------------------------------------*/
.header_user_info ul.links li a:hover {
  color: #fbc02d; }
  .header_user_info ul.links li a:hover .fa {
    color: #fbc02d; }

#languages-block-top ul li a:hover {
  color: #fbc02d; }

#currencies-block-top ul li a:hover {
  color: #fbc02d; }

.price {
  color: #fbc02d; }

.products-block li .product-content h5 a:hover {
  color: #fbc02d; }

.cart_block .cart_block_list .remove_link a:hover:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover:before {
  color: #fbc02d; }

.breadcrumb .here {
  background: url("../../../../img/yellow/bg_here.png") no-repeat 0px 0px;
  color: #fbc02d; }

.category-name {
  color: #fbc02d; }

ul.product_list .button-container .cart_button {
  background: #fbc02d; }

ul.product_list .button-container > div a:hover {
  background-color: #fbc02d; }

div.sp-newproducts .slider .vpo-wrap .vp .item .item-wrap .button-container > div a:hover {
  background-color: #fbc02d; }

div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items .spcat-item .item-inner .button-container > div a:hover {
  background-color: #fbc02d; }

.top-pagination-content ul.pagination li.active > span, .bottom-pagination-content ul.pagination li.active > span {
  border-color: #fbc02d !important; }

.top-pagination-content ul.pagination li > a:hover, .top-pagination-content ul.pagination li > span:hover,
.bottom-pagination-content ul.pagination li > a:hover, .bottom-pagination-content ul.pagination li > span:hover {
  border-color: #fbc02d !important; }

#thumbs_list li a:hover, #thumbs_list li a.shown {
  border-color: #fbc02d; }

span.view_scroll_spacer > a:hover {
  background: #fbc02d;
  border-color: #fbc02d; }

.pb-left-column #image-block a.zoomImg:hover {
  background: #fbc02d;
  color: #fff;
  border-color: #fbc02d; }

div.moreinfo_block ul.nav-tabs > li a:hover {
  background: #fcd778;
  border-color: #fcd778; }

div.moreinfo_block ul.nav-tabs > li.active a {
  background: #fbc02d;
  border-color: #fbc02d; }

div.moreinfo_block .tab-content {
  border-top: solid 2px #fbc02d; }

.box-cart-bottom .button {
  background: #fbc02d; }

h1.page-heading {
  color: #fbc02d; }

div.page-heading h1 {
  color: #fbc02d; }

.block .title_block:after, .block h4:after {
  background: #fbc02d; }

.exclusive:hover {
  background: #fbc02d;
  color: #fff; }

.blockmanufacturer ul li a:hover {
  background: #fbc02d;
  border-color: #fbc02d; }

div.sp-manu-slider .page-button.top .control-button li:hover, div.sp-new-products .page-button.top .control-button li:hover {
  background: #fbc02d; }

div.intro-bottom .shipping:hover h2, div.intro-bottom .credit:hover h2, div.intro-bottom .promotion:hover h2, div.intro-bottom .support:hover h2 {
  color: #fbc02d; }
div.intro-bottom .shipping:hover .icon, div.intro-bottom .credit:hover .icon, div.intro-bottom .promotion:hover .icon, div.intro-bottom .support:hover .icon {
  background-color: #fbc02d; }
  div.intro-bottom .shipping:hover .icon:after, div.intro-bottom .credit:hover .icon:after, div.intro-bottom .promotion:hover .icon:after, div.intro-bottom .support:hover .icon:after {
    border-color: transparent transparent transparent #fbc02d; }

.shopping_cart > a:first-child {
  background: #fbc02d; }
  .shopping_cart > a:first-child:before {
    border-right: solid 1px #f0ad05; }
  .shopping_cart > a:first-child:hover:before {
    background-color: #f0ad05; }

#search_block_top #searchbox .button-search {
  background: #fbc02d; }
  #search_block_top #searchbox .button-search:hover {
    background-color: #f0ad05; }

.header-bottom {
  background: #fbc02d; }

.sf-menu > li > a:before {
  background: #f0ad05; }

div.bonus-menu .b-label {
  background-image: url(../../../../img/yellow/bg_here.png);
  color: #fbc02d; }

div.bonus-menu ul.bmenu li a:hover {
  color: #fbc02d; }

div.introduction .shipping:hover .intro h2, div.introduction .saleoff:hover .intro h2, div.introduction .smiling:hover .intro h2 {
  color: #fbc02d; }

div.introduction .icon {
  background-color: #fbc02d; }

div.introduction .icon:after {
  border-color: transparent transparent transparent #fbc02d; }

div.sp-newproducts .slider .vpo-wrap .vp .item .item-wrap .button-container .cart_button {
  background: #fbc02d; }

div.sp-newproducts div.page-title-slider h1 {
  color: #fbc02d;
  border: solid 1px #fbc02d;
  padding: 1px; }
  div.sp-newproducts div.page-title-slider h1 span {
    padding: 6px 17px;
    border: solid 1px #fbc02d;
    display: inline-block; }

#homepage-slider .homeslider-description .shopnow {
  background: #fbc846; }
  #homepage-slider .homeslider-description .shopnow:hover {
    color: #fbc02d; }

.products-block li:hover .product-content h5 a {
  color: #fbc02d; }

.sf-menu li li li a:before {
  background: #fbc02d; }

.products-block .button_large:hover {
  background: #fbc02d;
  color: #fff; }

.lastestnews .sdsblog-box-content .sds_blog_post:hover .sds_post_title a {
  color: #fbc02d; }
.lastestnews .sdsblog-box-content .sds_blog_post:hover span.date_added {
  background: #fbc02d; }

div.happy-clients h3:after {
  background: #fbc02d; }
div.happy-clients .content .author strong {
  color: #fbc02d; }

.contact-infos .list-contact .label .fa {
  color: #fbc02d; }

ul.social-block a:hover {
  background: #fbc02d; }

div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items .spcat-item .item-inner .item-image .quick-view-wrapper-mobile {
  background: #fbc02d; }
div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items .spcat-item .item-inner .button-container .cart_button {
  background: #fbc02d; }
div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items .spcat-item .item-inner:hover .item-info .item-title a {
  color: #fbc02d; }

div.sp-sp-cat .spcat-wrap .category-wrap-cat .slider .cat_slider_inner .item:after {
  background: #fbc02d; }
div.sp-sp-cat .spcat-wrap .category-wrap-cat .slider .cat_slider_inner .item:hover .cat_slider_title a {
  color: #fbc02d; }

div.sp-sp-cat .spcat-wrap .spcat-tabs-container .spcat-tabs li.spcat-tab.tab-sel, div.sp-sp-cat .spcat-wrap .spcat-tabs-container .spcat-tabs li.spcat-tab:hover {
  border-color: #fbc02d;
  background: #fbc02d; }
div.sp-sp-cat .spcat-wrap .spcat-tabs-container .spcat-tabs li.spcat-tab:after {
  border-color: #fbc02d transparent transparent transparent; }

div.sp-sp-cat .spcat-wrap .spcat-items-container .spcat-items .spcat-loadmore .spcat-loadmore-btn {
  color: #fbc02d;
  background: url(../../../../img/yellow/icon_loadmore.png) no-repeat right center; }

div.moreinfo_block .tab-content .product-box:hover .product-name a {
  color: #fbc02d; }
div.moreinfo_block .tab-content .product-box:hover .button {
  background: #fbc02d; }

.contact-infos .list-contact a:hover {
  color: #fbc02d; }

#block_top_menu .cat-title {
  background: #fbc02d; }

.price-percent-reduction {
  background: #fbc02d; }

#header .cart_block .price {
  color: #fbc02d; }

.box-info-product #wishlist_button {
  background-color: #fbc02d; }
  .box-info-product #wishlist_button:hover {
    background-color: #f0ad05; }

.box-cart-bottom .button:hover {
  background: #f0ad05; }

div.moreinfo_block .tab-content .product-box .button {
  background: #fbc02d; }
  div.moreinfo_block .tab-content .product-box .button:hover {
    background: #f0ad05; }

#categories_block_left li li a.selected {
  color: #fbc02d; }

.lang_ar a:hover, .lang_ar a:focus {
  color: #fbc02d; }
.lang_ar .button:hover, .lang_ar button:focus {
  background: #fbc02d;
  color: #fff;
  outline: none; }
.lang_ar .shopping_cart > a:first-child:before {
  border-left: solid 1px #f0ad05; }
.lang_ar .shopping_cart > a:first-child .ajax_cart_quantity {
  padding: 0 15px 0 3px; }
.lang_ar .shopping_cart > a:first-child:hover {
  color: #fff; }
.lang_ar div.introduction .icon:after {
  border-color: transparent #fbc02d transparent transparent; }
.lang_ar .price {
  color: #fbc02d; }
.lang_ar .comments_note span, .lang_ar .star_content {
  float: right; }
.lang_ar div.intro-bottom .shipping:hover .icon:after, .lang_ar div.intro-bottom .credit:hover .icon:after, .lang_ar div.intro-bottom .promotion:hover .icon:after, .lang_ar div.intro-bottom .support:hover .icon:after {
  border-color: transparent #fbc02d transparent transparent; }
.lang_ar .breadcrumb .here {
  background-image: url(../../../../img/yellow/rtl/bg_here.png);
  margin: 0px 0px 0px 10px; }
.lang_ar div.bonus-menu .b-label {
  background-image: url(../../../../img/yellow/rtl/bg_here.png); }
.lang_ar .top-pagination-content ul.pagination li.active > span span,
.lang_ar .bottom-pagination-content ul.pagination li.active > span span {
  background: #fbc02d; }
.lang_ar .pagination > li > a:hover, .lang_ar .pagination > li > span:hover,
.lang_ar .pagination > li > a:focus, .lang_ar .pagination > li > span:focus {
  color: #fff; }
.lang_ar .top-pagination-content ul.pagination li > a:hover span,
.lang_ar .bottom-pagination-content ul.pagination li > a:hover span {
  background: #fbc02d; }

/* 5.Extra small devices Phones
================================================== */
@media (max-width: 767px) {
  .shopping_cart > a:first-child {
    background: #f0ad05; }
    .shopping_cart > a:first-child .ajax_cart_no_product, .shopping_cart > a:first-child .ajax_cart_quantity {
      background: #fbc02d; }

  #search_block_top #searchbox .button-search {
    background-color: #f0ad05; }

  .header_user_info {
    background-color: #f0ad05; } }
/* 5.Extra small devices Phones
================================================== */
@media (max-width: 479px) {
  div.sp-sp-cat .spcat-wrap .spcat-tabs-container .spcat-tabs-wrap {
    background: #fbc02d; }

  div.sp-sp-cat .spcat-tabs-container .spcat-tabs-wrap.spcat-selectbox span.spcat-tab-arrow {
    background: #f0ad05; } }
