#manufacturers_slider { overflow:hidden; padding: 20px 0 20px 0;
    .flexslider_carousel{position: relative;z-index:11;
        li{padding: 0 5px; list-style-type: none;float:left;width:200px;text-align: center;
            img {zoom: 1;	filter: alpha(opacity=60);	opacity: 0.6;}
        }
    }
   
    .direction-nav {position: absolute; left: 0px; top: 0px; width: 100%;
        a {display: block; text-indent: -999em;  width: 35px; height: 35px; overflow: hidden; position: absolute; top: 18px; transition: 0.3s all ease 0s;border-radius: 50%;}
    }
    
}

