@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700italic,700&subset=latin,latin-ext');

body {font-family: 'Open Sans', sans-serif !important;}
#quantity_wanted {font-family: 'Open Sans', sans-serif !important;}
.product-name {font-family: 'Open Sans', sans-serif !important;}
button.detail {font-family: 'Open Sans', sans-serif !important;}
#button_order_cart {font-family: 'Open Sans', sans-serif !important;}


h1, h2, h3, h4, h5 {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.cart_button {font-family: 'Titillium Web', sans-serif ;}
.moreinfo_block ul.nav-tabs li a {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.exclusive {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.title_block {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.page-title-slider {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.newsletter_home button {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.shopnow {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.sf-menu > li > a {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}
.sp-cat-title-parent {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;}